#start {
  height: 100vh;
  color: #e471d6;
  .title {
    padding-top: 1em;
    padding-bottom: 0.5em;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    background-image: url("./bg2.jpg");
    background-size: cover;
    height: 100vh;
    animation: filter 5s infinite;
  }
  @keyframes filter {
    0% {
      filter: hue-rotate(0deg);
    }
    25% {
      filter: hue-rotate(90deg);
    }
    50% {
      filter: hue-rotate(180deg);
    }
    75% {
      filter: hue-rotate(90deg);
    }
    100% {
      filter: hue-rotate(0deg);
    }
  }
  .nav-board {
    position: relative;
    margin: auto;
    height: 30vh;
    width: fit-content;
    padding: 2em;
    margin-bottom: 1em;
    .ms-Pivot-link {
      font-size: 1.2em;
      height: 40px;
      color: #f5d9f2;
    }
    .ms-Pivot-link:hover {
      background: #11100f;
    }
    .link {
      margin: 1em 1em;
    }
    .ms-SearchBox {
      background: #333;
      padding: 0;
      border: none;
      position: absolute;
      bottom: 10px;
      width: 60%;
      left: 20%;
      .field-66 {
        color: #e471d6;
        text-align: center;
      }
      .ms-SearchBox-iconContainer {
        display: none;
      }
    }
    ::placeholder {
      color: #fdc0f760;
      opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #fdc0f760;
    }
    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #fdc0f760;
    }
  }
}
@media only screen and (max-width: 767px) {
  #start {
    .main-content {
      width: 80%;
    }
  }
}
